{% extends 'base.html' %} {% block content %}
<div class="block">
  <div class="hero">
    <div class="hero-body">
      <h1 class="title has-text-white">Delete Playlist</h1>
      <h4 class="subtitle has-text-warning">
        Are you sure you want to delete {{ object.name }}?
      </h4>
    </div>
  </div>
</div>

<form action="" method="POST">
  {% csrf_token %}
  <div class="container">

    <div class="box">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <input type="submit" value="Yes - Delete!" class="button is-danger" />
          </div>
          <div class="level-item">
            <a href="{% url 'playlists_details' object.id %}">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
