{% extends 'base.html' %} {% block content %}
<div class="block">
  {% if object %}
  <div class="hero is-info">
    <div class="hero-body">
      <h1 class="title">
        Edit <strong class="has-text-warning"> {{object.title}}</strong>
      </h1>
      <p class="subtitle">Change your playlist however you like</p>
    </div>
  </div>
  {% else %}
  <div class="hero is-info">
    <div class="hero-body">
      <h1 class="title">Create Playlist</h1>
      <p class="subtitle">Write your playlist's title to get started</p>
    </div>
  </div>
  {% endif %}
</div>
<div class="box">
  <div class="container is-fluid">
    <form action="" method="POST">
      <div class="content is-large">
        {% csrf_token %}
        <table class="table">
          {{ form }}
        </table>
        <div class="level">
          <div class="level-item">
            <input
              type="submit"
              value="Get Started"
              class="button is-success is-large"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% if object %}
<a href="{% url 'playlists_details' object.id %}"> Cancel </a>
{% endif %}

<script>
  document.getElementById("id_title").className = "input is-rounded is-info";
</script>
{% endblock %}
