{% extends 'base.html' %} {% block content %}
<div class="block">
  <div class="container is-fluid mt-3">
    {% if object %}

    <div
      style="border-radius: 6px; width: 1000px"
      class="hero is-black mx-auto"
    >
      <div class="hero-body">
        <h1 class="title">
          Edit
          <span class="title is-2 has-text-warning">{{ object.name }}</span>
        </h1>
      </div>
    </div>
    {% else %}
    <div
      style="border-radius: 6px; width: 1000px"
      class="hero is-black mx-auto"
    >
      <div class="hero-body">
        <h1 class="title">Add Song</h1>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="block">
  <div class="container is-fluid">
    <div style="width: 1000px" class="box mx-auto">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="content is-large">
          <table>
            {{ form }}
          </table>
          <div class="level">
            <div class="level-right">
              <div class="level-item">
                <input type="submit" value="submit" class="button is-success" />
              </div>
              <div class="level-item">
                {% if object %}
                <a
                  href="{% url 'songs_details' song.id %}"
                  class="button is-danger"
                  >cancel</a
                >
                {% else %}
                <a href="{% url 'songs_index' %}" class="button is-danger"
                  >cancel</a
                >
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.getElementById("id_name").className = "input is-rounded is-primary";
  document.getElementById("id_artist").className =
    "input is-rounded is-primary";
  document.getElementById("id_album").className = "input is-rounded is-primary";
  document.getElementById("id_year").className = "input is-rounded is-primary";
  document.getElementById("id_youtube").className =
    "input is-rounded is-primary";
</script>

{% endblock %}
