{% extends 'base.html' %} {% block content %}
<div class="block">
  <div class="container is-fluid mt-3">
    <div
      style="border-radius: 6px; width: 1000px"
      class="hero is-black mx-auto"
    >
      <div class="hero-body">
        <h1 class="title is-2">My Playlists</h1>
      </div>
    </div>
  </div>
</div>

{% for playlist in playlists %}
<div class="block">
  <div class="container is-fluid mb-4">
    <div style="width: 1000px" class="notification is-link mx-auto">
      <a href="{% url 'playlists_details' playlist.id %}">
        <div class="content">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <span class="title is-5">{{ playlist.title }}</span>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <p>{{ playlist.user.username }}</p>
              </div>
              <div class="level-item"></div>
            </div>
          </div>

          {% for song in playlist.song.all %}
          <div class="tag is-dark">
            <p>
              <strong class="has-text-warning">{{ song.name }}</strong> -
              {{song.artist}}
            </p>
          </div>

          {% endfor %}
        </div>
      </a>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
