{% extends 'base.html' %} {% block content %}
<section class="section is-medium">
  <div class="content is-large">
    <div class="hero">
      <div class="hero-body">
        <div class="level">
          <div class="level-item">
            <figure class="image is-236x190">
              <img
                class="is-rounded"
                src="https://c.tenor.com/J-FOZ8RW_0EAAAAi/catjam.gif"
              />
            </figure>
          </div>
          <div class="level-item">
            <span class="title has-text-white">
              Welcome To The Jam Constructor
            </span>
          </div>
          <div class="level-item">
            <figure class="image is-236x190">
              <img class="is-rounded" src="https://i.imgur.com/QmKDxPj.gif" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
