div.block  {
  background-color: #0b0b0c;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #0b0b0c 40px
    ),
    repeating-linear-gradient(#f7455655, #f74556);
}
