{% extends 'base.html' %} {% block content %}

<div class="hero">
  <div class="hero-body">
    <h1 class="title has-text-white">Song Details</h1>
  </div>
</div>
<div class="block">
  <div class="box">
    <div class="content">
      <table class="table is-rounded">
        <a href="{% url 'songs_update' song.id %}">Edit</a>
        <thead>
          <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="title is-6 has-text-info">{{ song.name}}</td>
            <td class="title is-6 has-text-link">{{ song.artist}}</td>
            <td class="title is-6 has-text-primary-dark">{{ song.album}}</td>
            <td class="title is-6 has-text-danger">{{ song.year}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="box">
  <div class="block">
    <div class="container is-fluid">
      <h1 class="title is-6">Leave a Review</h1>
      <form action="{% url 'add_songreview' song.id %}" method="POST">
        {% csrf_token %}
        <div class="content is-large">
          <div>{{ add_reviewsong_form.as_p }}</div>
        </div>
        <input type="submit" value="Add Review" class="button is-success" />
      </form>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      {% for review in song.reviewsong_set.all %}
      <tr>
        <td>{{review.date}}</td>
        <td>{{review.content}}</td>
        <td>{{review.rating}}</td>
        <td>{{review.user.username}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  document.getElementById("id_content").className = "textarea is-small";
  document.getElementById("id_rating").className = "select";
</script>
{% endblock %}
