{% extends 'base.html' %} {% block content %}

<div class="hero">
  <div class="hero-body">
    <h1 class="title has-text-white">Song Details</h1>
  </div>
</div>

<h3 class="title is-6 has-text-white">{{ song.name }}</h3>
<hr />
<p class="has-text-white">Artist: {{ song.artist }}</p>
<p class="has-text-white">Album: {{ song.album }}</p>
<p class="has-text-white">Year: {{song.year}}</p>

<div>
  <h1>Leave a Review</h1>
  <form action="{% url 'add_songreview' song.id %}" method="POST">
    {% csrf_token %} {{ add_reviewsong_form.as_p }}
    <input type="submit" value="Add Review" class="btn" />
  </form>
  <table class="striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      {% for review in song.reviewsong_set.all %}
      <tr>
        <td>{{review.date}}</td>
        <td>{{review.content}}</td>
        <td>{{review.rating}}</td>
        <td>{{review.user.username}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
