{% extends 'base.html' %} {% block content %}
<div class="block">
  <div
    style="border-radius: 6px; width: 1000px"
    class="hero is-black mx-auto mt-3"
  >
    <div class="hero-body">
      <h1 class="title has-text-white">Songs</h1>
    </div>
  </div>
</div>
<div class="block">
  <div style="width: 1000px" class="box mx-auto">
    <div class="content is-small">
      <form method="get">
        {{ songfilter.form.as_p }}
        <input type="submit" class="button is-link" value="Filter" />
      </form>
    </div>

    {% for song in songfilter.qs %}
    <div class="block">
      <a href="{% url 'songs_details' song.id %}">
        <div class="notification is-info">
          <div class="container is-fluid">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <span class="title is-5">{{ song.name }}</span>
                </div>
              </div>
              <div class="level-right">
                <div clas="level-item">
                  <div class="container is-fluid">
                    <p>{{ song.user }}</p>
                  </div>
                </div>
                <div class="level-item"></div>
              </div>
            </div>
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <div>
                    <p style="text-decoration: none" class="title is-6">
                      Artist: {{ song.artist }}
                    </p>
                    <p class="title is-6">Album: {{ song.album }}</p>
                    <p class="title is-6">Released: {{ song.year }}</p>
                  </div>
                </div>
              </div>
              {% if song.youtube %}
              <div class="level-right">
                <div class="level-item">
                  <figure class="image is-51x50">
                    <a href="{{ song.youtube }}">
                      <img src="https://i.imgur.com/uuKEGQa.png" />
                    </a>
                  </figure>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  document.getElementById("id_name").className = "input is-small";
  document.getElementById("id_album").className = "input is-small";
  document.getElementById("id_artist").className = "input is-small";
</script>

{% endblock %}
