{% extends 'base.html' %} {% block content %}

<div class="hero">
  <div class="hero-body">
    <h1 class="title has-text-white">Songs</h1>
  </div>
</div>

{% for song in songs %}
<div class="notification is-info is-light">
  <div class="container is-fluid">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <span class="title is-5">{{ song.name }}</span>
        </div>
      </div>
      <div class="level-right">
        <div clas="level-item">
          <div class="container is-fluid">
            <p>{{ song.user }}</p>
          </div>
        </div>
        <div class="level-item">
          <a
            class="button is-info is-small is-rounded"
            href="{% url 'songs_details' song.id %}"
            >Details</a
          >
        </div>
      </div>
    </div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div>
            <p class="title is-6 has-text-link">Artist: {{ song.artist }}</p>
            <p class="title is-6 has-text-success-dark">Album: {{ song.album }}</p>
            <p class="title is-6 has-text-danger">Released: {{ song.year }}</p>
          </div>
        </div>
      </div>
      {% if song.youtube %}
      <div class="level-right">
        <div class="level-item">
          <figure class="image is-51x50">
            <a href="{{ song.youtube }}">
              <img src="https://i.imgur.com/uuKEGQa.png" />
            </a>
          </figure>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endfor %} {% endblock %}
